<div class="header">
  <header>
    <div class="left-side-bar">
      <!-- <i class="fa-solid fa-house"></i> -->
      <div class="icon">
        <a href="https://github.com/AlmamyHaidara">
          <i class="pi pi-github"></i>
        </a>
        <a href="https://www.instagram.com/haidara.ali.almamy/">
          <i class="pi pi-instagram"></i>
        </a>
        <a href="https://twitter.com/AlmamyHaidaraA">
          <i class="pi pi-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/almamy-ha%C3%AFdara-612028210">
          <i class="pi pi-linkedin"></i>
        </a>
      </div>
    </div>
    <div class="center-side">
      <p>Salut, mon nom est</p>
      <h1>Almamy Ali Haidara.</h1>
      <h1>Je construis des projets pour le web.</h1>
      <p>
        Je suis étudiant en 2er année analyse appliquer à la programmation,
        actuellement je suis développeur front-end avec les frameworks
        javaScript
      </p>
      <p class="cv">
        <a href="../../assets/pdf/Cv_almamy_ali_haidara.pdf" download="CV Almamy Ali HAIDARA">Resume</a>
      </p>
    </div>
    <div class="right-side-bar">
      <p class="email">
        <a href="mailto:haidara.ali.almamy@gmail.com"
          >haidara.ali.almamy@gmail.com</a
        >
      </p>
    </div>
  </header>
</div>
