<div class="contact" id="contact">
  <p><span>3.</span>Contacte</p>

  <h2>Prendre Contact</h2>
<span>

    <p >
      Bien que je  sois pas actuellement étudiant, ma boîte de réception est toujours ouverte. Que vous ayez une
      question à poser ou que vous souhaitiez simplement me saluer, je ferai de
      mon mieux pour vous répondre !
    </p>
</span>

  <button><a href="mailto:haidara.ali.almamy@gmail.com">Dites salut</a></button>


  <div class="footer">
    <p>Designer et constuit par Almam Ali Haidara &copy; 2023</p>
  </div>
</div>
