<div class="nav">
  <nav>
    <div class="left-side">
      <img src="../../assets/images/logo.PNG" alt="" width="55" height="55" />
    </div>
    <div class="right-side">
      <ul>
        <li>

          <a href="#about"><span>01.</span>A propos</a>
        </li>
        <li>
          <a href="#project"><span>02.</span>Projet</a>
        </li>
        <li>
          <a href="#contact"><span>03.</span>Contact</a>
        </li>
        <li>
          <p class="cv">
            <a href="../../assets/pdf/Cv_almamy_ali_haidara.pdf" download="CV Almamy Ali HAIDARA">Resume</a>
          </p>
        </li>
      </ul>
    </div>
  </nav>
</div>
