<div class="project-lst">
  <h2><span>01.</span>Mes projets</h2>
  <div class="lst-works">
    <div class="work">
      <div class="box-img">
        <img src="../../assets//images/Ecommerce.png" alt="" />
      </div>

      <div class="project-desc">
        <p>Projet en vedette</p>
        <h3>Ecommerce Admin page</h3>
        <div class="box-desc">
          <p>
            Une application E-commerce realiser avec le
            <span>framework vue js</span> don le backend est gere par
            <span>node.js</span> et<span> express</span>. Cette application a
            pour bue de vendre plusieurs produits de mode
          </p>
        </div>
      </div>
    </div>

    <div class="work1">


      <div class="project-desc1">
        <p>Projet en vedette</p>
        <h3>Ecommerce Admin page</h3>
        <div class="box-desc1">
          <p>
            Une application E-commerce realiser avec le
            <span>framework vue js</span> don le backend est gere par
            <span>node.js</span> et<span> express</span>. Cette application a
            pour bue de vendre plusieurs produits de mode
          </p>
        </div>
      </div>
      <div class="box-img1">
        <img src="../../assets//images/ecommerce_login.png" alt="" />
      </div>
    </div>


    <div class="work3">
      <div class="box-img3">
        <img src="../../assets//images/ecommerce_lst.png" alt="" />
      </div>

      <div class="project-desc3">
        <p>Projet en vedette</p>
        <h3>Ecommerce Admin page</h3>
        <div class="box-desc3">
          <p>
            Une application E-commerce realiser avec le
            <span>framework vue js</span> don le backend est gere par
            <span>node.js</span> et<span> express</span>. Cette application a
            pour bue de vendre plusieurs produits de mode
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
